.edit-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-user .avatar-container {
  border: 2px solid rgb(90, 194, 90);
  border-radius: 25%;
  height: 100px;
  width: 100px;
  margin: 10px;
}

.edit-user form {
  display: none;
  width: 100%;
  background-color: black;
}

.edit-user .formsection {
  padding: 0 20px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.edit-user .formsection p {
  font-size: 0.6rem;
  margin: 2px;
}

.edit-user article {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(90, 194, 90);
}

.edit-user .flex-row {
  width: 100%;
  border: 1px solid rgb(90, 194, 90);
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-user .flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-user .flex-column p {
  font-size: 0.8rem;
}

.edit-user .bio-container {
  color: black;
  background-color: white;
  border: 0;
}

.edit-user .visible {
  display: block;
}

.delete {
  margin: 10px;
  background-color: rgb(197, 78, 78);
  height: 70px;
  width: 100px;
}

.delete p {
  margin: 5px 5px 5px 5px;
  color: black;
  font-weight: bolder;
}
