.edit-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-profile .avatar-container {
  height: 150px;
  width: 150px;
  border: 2px solid rgb(90, 194, 90);
  border-radius: 25%;
}

.edit-profile form {
  display: none;
  width: 100%;
  background-color: black;
}

/* Text colors */
.edit-profile .form-section {
  padding: 0 20px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.edit-profile article {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(90, 194, 90);
}

.edit-profile .flex-row {
  width: 100%;
  border: 1px solid rgb(90, 194, 90);
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-profile .flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Font-fam */
.edit-profile .bio-container {
  color: black;
  background-color: white;
  border: 0;
}

.edit-profile .visible {
  display: block;
}
