/* Mobile prio */

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: black;
}

.errors {
  width: 100%;
  position: absolute;
  background-color: black;
  color: rgb(209, 56, 45);
}

.messages {
  width: 100px;
  position: absolute;
  background-color: black;
  color: rgb(90, 194, 90);
}

p {
  font-size: 16px;
  color: rgb(90, 194, 90);
}

h1 {
  color: rgb(90, 194, 90);
}

h2 {
  color: rgb(90, 194, 90);
}

/* Fix heart or thumbs emote for like-button later? */
button {
  height: 2.5em;
  font-size: 12px;
  margin: 5px 5px;
  color: rgb(90, 194, 90);
  background-color: black;
}

.formsection {
  display: flex;
  flex-direction: column;
  color: rgb(90, 194, 90);
}

.formsection input {
  width: 100%;
  height: 2em;
}

textarea {
  /*For comments & replies */
  background-color: black;
  color: rgb(90, 194, 90);
  border: 2px solid rgb(90, 194, 90);
  font-size: 14px;
}

.wrapper {
  width: 100vw;
  padding-top: 10vh;
}

.avatar-container .avatar {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 25%;
}

a {
  font-size: 1rem;
  text-decoration: none;
}

/* Desktop view */
@media (min-width: 1200px) {
  .wrapper {
    width: 60vw;
    padding-top: 0;
  }
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  a {
    font-size: 1.5rem;
  }
}
