body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: black;
}

p {
  font-size: 16px;
  color: rgb(90, 194, 90);
}

h1 {
  color: rgb(90, 194, 90);
}

h2 {
  color: rgb(90, 194, 90);
}

/* Fix heart emote for like button later */
button {
  height: 2em;
  font-size: 12px;
  margin: 12px 0;
}

.form-section {
  display: flex;
  flex-direction: column;
  color: rgb(90, 194, 90);
}

.form-section input {
  width: 100%;
  height: 2em;
}

textarea {
  /*For comments & replies */
  background-color: black;
  color: rgb(90, 194, 90);
  border: 2px solid rgb(90, 194, 90);
  font-size: 14px;
}

.wrapper {
  width: 100vw;
  padding-top: 10vh;
}

.avatar-container .avatar {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 25%;
}

.errors {
  width: 100%;
  position: absolute;
  background-color: black;
  color: rgb(90, 194, 90);
}

.messages {
  width: 100px;
  position: absolute;
  background-color: black;
  color: rgb(90, 194, 90);
}

/* Make hover effect? */
a {
  text-decoration: none;
  transform: rotate(360deg);
  transition-duration: 5s;
}

/* Mobile props */
@media (min-width: 1024px) {
  .wrapper {
    width: 40vw;
    padding-top: 0;
  }
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
