nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  width: 100%;
  height: 10vh;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  margin: 2;
  width: 100%;
  padding: 0 10px;
}

@media (min-width: 1024px) {
  nav {
    position: static;
  }
}
