nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
  width: 100%;
  height: 10vh;
}

nav a {
  color: rgb(90, 194, 90);
  font-size: larger;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  margin: 2px;
  width: 100%;
  padding: 0 20px;
}

/* For desktop */
@media (min-width: 1024px) {
  nav {
    position: static;
  }
  nav a {
    font-size: x-large;
  }
}
