.title {
  display: flex;
  justify-content: center;
}

.title p {
  font-size: 1.4rem;
  font-weight: bolder;
  margin: 0;
}

/* Post container */
.post {
  display: flex;
  flex-direction: column;
  border-top: 3px solid black;
  border-bottom: 1px solid black;
  padding: 5px 5px;
}

.post .user-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post .avatar-username-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(90, 194, 90);
}

.post .avatar-username-container h2 {
  margin: 0;
}

.post .user-container .avatar-container {
  height: 50px;
  width: 50px;
  border: 2px solid rgb(90, 194, 90);
  border-radius: 25%;
}

.post .date p {
  font-style: italic;
  font-size: 0.8rem;
  margin: 10px;
}

.post .like-box {
  display: flex;
  justify-content: space-between;
}

.post-image-container {
  width: 100%;
  height: 75vh;
  border: 1px solid rgb(90, 194, 90);
}

.post-image-container .post-image {
  height: 100%;
  width: 100%;
  object-fit: scale-down;
}

.post textarea {
  border-radius: 5px 5px 5px 5px;
  max-width: 100%;
}

.post .comment-form {
  display: flex;
}

.post .comment-form button {
  width: 50px;
  margin: 2px;
}

.post .comment-list {
  padding-left: 5px;
  margin: 0;
}

@media (min-width: 1200px) {
  .post {
    border-left: 2px solid rgb(90, 194, 90);
    border-right: 2px solid rgb(90, 194, 90);
    border-top: 2px solid rgb(90, 194, 90);
    border-bottom: 2px solid rgb(90, 194, 90);
  }
}
