.post {
  display: flex;
  flex-direction: column;
  border-top: 3px solid black;
  border-bottom: 1px solid black;
  padding: 5px 0;
}

.post .user-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post .avatar-username-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post .avatar-username-container h2 {
  margin: 0;
}

.post .user-container .avatar-container {
  height: 50px;
  width: 50px;
}

.post .like-box {
  display: flex;
  justify-content: space-between;
}

.post-image-container {
  width: 100%;
  height: 50vh;
}

.post-image-container .post-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.post textarea {
  border-radius: 5px 5px 5px 5px;
  max-width: 100%;
}

.post .comment-form {
  display: flex;
}

.post .comment-form button {
  width: 50px;
  margin: 2px;
}

.post .comment-list {
  padding-left: 5px;
  margin: 0;
}

.comment-form .avatar-container {
  height: 40px;
  width: 40px;
}

.comment .comment-container {
  background-color: #f7e9bf;
  border-radius: 5px 5px 5px 5px;
  margin: 3px;
  padding: 5px;
  display: flex;
  align-items: center;
}

.comment .comment-container .avatar-container {
  height: 35px;
  width: 35px;
}

.comment .comment-container p {
  max-width: calc(100% - 40px);
  margin: 2px 0;
}

.comment .comment-container p span {
  margin: 0 5px;
  color: #3e3ea3;
  font-size: 18px;
}

.comment .show-replies-form {
  line-height: 1em;
}

.comment .show-replies-form button {
  margin: 0 5px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  height: 1em;
  font-size: 11px;
  padding: 0;
}

.comment .reply-form {
  margin-left: 50px;
  display: none;
  justify-content: center;
  align-items: center;
}

.comment .visible {
  display: flex;
}

.comment .reply-form button {
  margin: 0;
  width: 50px;
  padding: 0;
}

.comment .reply-form .avatar-container {
  height: 30px;
  width: 30px;
}

.comment .reply-list {
  list-style: none;
}

.reply {
  display: flex;
  align-items: center;
  background-color: #c7c7e7;
  padding: 0;
  margin: 4px;
  border-radius: 5px 5px 5px 5px;
}

.reply .avatar-container {
  height: 20px;
  width: 20px;
}

.reply p {
  margin: 0;
}

.reply p span {
  margin: 0 7px;
}

@media (min-width: 1024px) {
  .post {
    border-left: 2px solid black;
    border-right: 2px solid black;
  }
}
