.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}

.user-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-container {
  height: 100px;
  width: 100px;
  border: 1px solid rgb(90, 194, 90);
  border-radius: 25%;
}

.bio-container {
  width: calc(100% - 125px);
  padding: 20px;
  color: rgb(90, 194, 90);
  background-color: black;
}

.followers p {
  margin: auto;
}

.followers-container {
  display: flex;
  width: 100vw;
  flex-direction: row;
  justify-content: center;
}

/* Follow and unfollow buttons */
.follow {
  width: 70px;
  height: 30px;
}

.unfollow {
  color: red;
  width: 70px;
  height: 30px;
}
/* Followers p-tag */
.followers {
  display: flex;
  width: 100%;
  justify-content: center;
}
